// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/*
 * Globals
 */

/* Links */

a {
  color: #fff;
  &:focus, &:hover {
    color: #fff;
  }
}

/* Custom default button */

.btn-secondary {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  &:hover, &:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
  }
}

/*
 * Base structure
 */

html {
  height: 100%;
  background-color: #333;
}

body {
  height: 100%;
  background-color: #333;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead {
  .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    &:hover, &:focus {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    + .nav-link {
      margin-left: 1rem;
    }
  }
  .active {
    color: #fff;
    border-bottom-color: #fff;
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}