doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title HiveTechTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  body.text-center
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand Dynamic Solutions
          nav.nav.nav-masthead.justify-content-center
            = link_to "Home", root_path, {class: "nav-link active"}
          
      main.inner.cover role="main" 
        = yield

      footer.mastfoot.mt-auto
        .inner
          p
            | © 2019 Dynamic Solutions